<h1 mat-dialog-title>Create new task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput [(ngModel)]="task.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Importance</mat-label>
    <input matInput type="number" min="0" max="100" [(ngModel)]="task.importance">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Urgency</mat-label>
    <input matInput type="number" min="0" max="100" [(ngModel)]="task.urgency">
  </mat-form-field>
</div>
<div mat-dialog-actions>

  <button mat-button [mat-dialog-close]="task">Create</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div>