<div fxLayout="column">
  <div style="padding: 10px 10px 0px 10px; box-sizing: border-box;">
    <svg width="100%" viewBox="0 0 100 68">
      <!-- Draw helper lines first so the main lines go over the helper lines -->
      <!-- helper line horizontal -->
      <line x1="3" y1="33" x2="99" y2="33" stroke="#777777" stroke-linecap="round" stroke-width="0.3" />

      <!-- helper line vertical -->
      <line x1="51" y1="65" x2="51" y2="1" stroke="#777777" stroke-linecap="round" stroke-width="0.3" />

      <!-- x-axis -->
      <line x1="3" y1="65" x2="99" y2="65" stroke="#ffffff" stroke-linecap="round" stroke-width="0.5" />
      <text x="99" y="65" font-size="3" fill="#aaaaaa" dominant-baseline="hanging" text-anchor="end">URGENCY</text>

      <!-- y-axis -->
      <line x1="3" y1="65" x2="3" y2="1" stroke="#ffffff" stroke-linecap="round" stroke-width="0.5" />
      <text x="-1" y="-0.5" font-size="3" fill="#aaaaaa" dominant-baseline="hanging" text-anchor="end"
        transform="rotate(270)">IMPORTANCE</text>

      <circle r="2" fill="#c2185b" [attr.cx]="getXForTask()" [attr.cy]="getYForTask()"></circle>

      <!-- matrix drag area is at the very top for mouse events -->
      <rect x="3" y="1" width="96" height="64" fill="#ffffff11" (mousemove)="onMousemove($event)"
        (mousedown)="onMousedown($event)" />
    </svg>
  </div>


  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput [(ngModel)]="task.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Importance</mat-label>
    <input matInput type="number" min="0" max="100" [(ngModel)]="task.importance">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Urgency</mat-label>
    <input matInput type="number" min="0" max="100" [(ngModel)]="task.urgency">
  </mat-form-field>
</div>

<a [disabled]="!canSave()" (click)="save()" [routerLink]="canSave() ? PATHS.OVERVIEW() : '.'" mat-raised-button
  color="primary">
  {{ creatingNewTask ? 'Save new task' : 'Save changes' }}
</a>
<a mat-button color="secondary" [routerLink]="PATHS.OVERVIEW()">
  cancel
</a>