<svg width="100%" viewBox="0 0 100 80">
  
  <line x1="15" y1="40" x2="85" y2="40" stroke="#ffffff" stroke-linecap="round" stroke-width="0.5"/>
  <line x1="50" y1="5" x2="50" y2="75" stroke="#ffffff" stroke-linecap="round" stroke-width="0.5"/>

  <text x="7.5" y="40" font-size="2" fill="#ffffff" dominant-baseline="middle" text-anchor="middle">NOT URGENT</text>
  <text x="92.5" y="40" font-size="2" fill="#ffffff" dominant-baseline="middle" text-anchor="middle">URGENT</text>
  <text x="50" y="3" font-size="2" fill="#ffffff" dominant-baseline="baseline" text-anchor="middle">IMPORTANT</text>
  <text x="50" y="77" font-size="2" fill="#ffffff" dominant-baseline="hanging" text-anchor="middle">NOT IMPORTANT</text>

</svg>