<app-eisenhower-matrix [tasksToPlot]="getTasks()"></app-eisenhower-matrix>

<ng-container *ngIf="tasksExist()">
    <app-task-list></app-task-list>

    <!-- spacer so floating button does not block delete button when you reached the end of scrolling list -->
    <div style="height: 75px;"></div>
</ng-container>
<p *ngIf="!tasksExist()" style="text-align: center;">
    Looks like you have no tasks.<br>
    <br>
    You can add more by clicking the button in the lower right corner!
</p>


<app-create-task-button style="position: fixed; right: 15px; bottom: 15px"></app-create-task-button>