<mat-card style="padding-right: 8px;">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- text part -->
    <div style="overflow: hidden">
      <h4 style="margin: 0px; word-wrap: break-word;">{{ task.title }}</h4>
      <span style="font-size: 7pt;">{{ urgencyText }}, {{ importanceText }}</span>
    </div>

    <!-- button part -->
    <div fxLayout="row">
      <a mat-icon-button [routerLink]="PATHS.EDIT_TASK(task.id)">
        <mat-icon>edit</mat-icon>
      </a>

      <button mat-icon-button (click)="deleteThisTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>